* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    background-image: url('imgs/bg.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    text-shadow: 2px 2px 2px black;
}