* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
}

h1 {
    padding: 10px 0;
}

h2 {
    padding: 5px 20px;
    border: 2px solid #313633;
    color: #313633;
    border-radius: 5px;
}

p {
    font-size: 1.5em;
}

a {
    font-size: 1.5em;
    padding: 10px 0;
    text-decoration: none;
    color: #0070c9;
}

a:hover {
    text-decoration: underline;
}

a::after {
    content: ' >';
}